<a href="https://colab.research.google.com/github/Kaizensk/WorldBank-global-Education-analysis/blob/main/ShwetaKumari_World_Bank_Global_Education_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures.The indicators cover the education cycle from pre-primary to vocational and tertiary education and also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data. </b>

## <b> Explore and analyze the data to identify variation of indicators across the globe, which countries are more alike and different. Feel free to add more extensive analyses and details.</b>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
path='/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Capstone1/'

In [4]:
df_countryseries=pd.read_csv(path+'EdStatsCountry-Series.csv')

In [5]:
df_countryseries.head()

  CountryCode  ... Unnamed: 3
0         ABW  ...        NaN
1         ABW  ...        NaN
2         AFG  ...        NaN
3         AFG  ...        NaN
4         AFG  ...        NaN

[5 rows x 4 columns]

In [6]:
df_countryseries.tail()

    CountryCode  ... Unnamed: 3
608         ZAF  ...        NaN
609         ZMB  ...        NaN
610         ZMB  ...        NaN
611         ZWE  ...        NaN
612         ZWE  ...        NaN

[5 rows x 4 columns]

In [7]:
df_countryseries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

In [8]:
df_countryseries.describe

<bound method NDFrame.describe of     CountryCode  ... Unnamed: 3
0           ABW  ...        NaN
1           ABW  ...        NaN
2           AFG  ...        NaN
3           AFG  ...        NaN
4           AFG  ...        NaN
..          ...  ...        ...
608         ZAF  ...        NaN
609         ZMB  ...        NaN
610         ZMB  ...        NaN
611         ZWE  ...        NaN
612         ZWE  ...        NaN

[613 rows x 4 columns]>

In [9]:
df_StatsCountry=pd.read_csv(path+'EdStatsCountry.csv')

In [10]:
df_StatsCountry.head()

  Country Code   Short Name  ... Latest water withdrawal data Unnamed: 31
0          ABW        Aruba  ...                          NaN         NaN
1          AFG  Afghanistan  ...                         2000         NaN
2          AGO       Angola  ...                         2005         NaN
3          ALB      Albania  ...                         2006         NaN
4          AND      Andorra  ...                          NaN         NaN

[5 rows x 32 columns]

In [11]:
df_StatsCountry.tail()

    Country Code    Short Name  ... Latest water withdrawal data Unnamed: 31
236          XKX        Kosovo  ...                          NaN         NaN
237          YEM         Yemen  ...                         2005         NaN
238          ZAF  South Africa  ...                         2000         NaN
239          ZMB        Zambia  ...                         2002         NaN
240          ZWE      Zimbabwe  ...                         2002         NaN

[5 rows x 32 columns]

In [12]:
df_StatsCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

In [13]:
df_StatsCountry.describe

<bound method NDFrame.describe of     Country Code    Short Name  ... Latest water withdrawal data Unnamed: 31
0            ABW         Aruba  ...                          NaN         NaN
1            AFG   Afghanistan  ...                         2000         NaN
2            AGO        Angola  ...                         2005         NaN
3            ALB       Albania  ...                         2006         NaN
4            AND       Andorra  ...                          NaN         NaN
..           ...           ...  ...                          ...         ...
236          XKX        Kosovo  ...                          NaN         NaN
237          YEM         Yemen  ...                         2005         NaN
238          ZAF  South Africa  ...                         2000         NaN
239          ZMB        Zambia  ...                         2002         NaN
240          ZWE      Zimbabwe  ...                         2002         NaN

[241 rows x 32 columns]>

In [14]:
df_StatsData=pd.read_csv(path+'EdStatsData.csv')

In [15]:
df_StatsData.head()

  Country Name Country Code  ... 2100 Unnamed: 69
0   Arab World          ARB  ...  NaN         NaN
1   Arab World          ARB  ...  NaN         NaN
2   Arab World          ARB  ...  NaN         NaN
3   Arab World          ARB  ...  NaN         NaN
4   Arab World          ARB  ...  NaN         NaN

[5 rows x 70 columns]

In [16]:
df_StatsData.tail()

       Country Name Country Code  ... 2100 Unnamed: 69
886925     Zimbabwe          ZWE  ...  NaN         NaN
886926     Zimbabwe          ZWE  ...  NaN         NaN
886927     Zimbabwe          ZWE  ...  NaN         NaN
886928     Zimbabwe          ZWE  ...  NaN         NaN
886929     Zimbabwe          ZWE  ...  NaN         NaN

[5 rows x 70 columns]

In [17]:
df_StatsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

In [18]:
df_StatsData.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [19]:
df_StatsData['Indicator Name'].nunique()

3665

In [20]:
df_StatsData['Country Name'].nunique()

242

In [21]:
df_StatsFootNote=pd.read_csv(path+'EdStatsFootNote.csv')

In [22]:
df_StatsFootNote.head()

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

In [23]:
df_StatsFootNote.tail()

       CountryCode  ... Unnamed: 4
643633         ZWE  ...        NaN
643634         ZWE  ...        NaN
643635         ZWE  ...        NaN
643636         ZWE  ...        NaN
643637         ZWE  ...        NaN

[5 rows x 5 columns]

In [24]:
df_StatsFootNote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
 4   Unnamed: 4   0 non-null       float64
dtypes: float64(1), object(4)
memory usage: 24.6+ MB

In [25]:
df_StatsFootNote.describe

<bound method NDFrame.describe of        CountryCode  ... Unnamed: 4
0              ABW  ...        NaN
1              ABW  ...        NaN
2              ABW  ...        NaN
3              ABW  ...        NaN
4              ABW  ...        NaN
...            ...  ...        ...
643633         ZWE  ...        NaN
643634         ZWE  ...        NaN
643635         ZWE  ...        NaN
643636         ZWE  ...        NaN
643637         ZWE  ...        NaN

[643638 rows x 5 columns]>

In [27]:
df_StatsFootNote.columns

Index(['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4'], dtype='object')

In [29]:
df_StatsSeries=pd.read_csv(path+'EdStatsSeries.csv')

In [30]:
df_StatsSeries.head()

           Series Code       Topic  ... License Type Unnamed: 20
0  BAR.NOED.1519.FE.ZS  Attainment  ...          NaN         NaN
1     BAR.NOED.1519.ZS  Attainment  ...          NaN         NaN
2  BAR.NOED.15UP.FE.ZS  Attainment  ...          NaN         NaN
3     BAR.NOED.15UP.ZS  Attainment  ...          NaN         NaN
4  BAR.NOED.2024.FE.ZS  Attainment  ...          NaN         NaN

[5 rows x 21 columns]

In [31]:
df_StatsSeries.tail()

                      Series Code         Topic  ... License Type Unnamed: 20
3660    UIS.XUNIT.USCONST.3.FSGOV  Expenditures  ...          NaN         NaN
3661    UIS.XUNIT.USCONST.4.FSGOV  Expenditures  ...          NaN         NaN
3662   UIS.XUNIT.USCONST.56.FSGOV  Expenditures  ...          NaN         NaN
3663  XGDP.23.FSGOV.FDINSTADM.FFD  Expenditures  ...          NaN         NaN
3664  XGDP.56.FSGOV.FDINSTADM.FFD  Expenditures  ...          NaN         NaN

[5 rows x 21 columns]

In [32]:
df_StatsSeries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB

In [33]:
df_StatsSeries.describe

<bound method NDFrame.describe of                       Series Code         Topic  ... License Type Unnamed: 20
0             BAR.NOED.1519.FE.ZS    Attainment  ...          NaN         NaN
1                BAR.NOED.1519.ZS    Attainment  ...          NaN         NaN
2             BAR.NOED.15UP.FE.ZS    Attainment  ...          NaN         NaN
3                BAR.NOED.15UP.ZS    Attainment  ...          NaN         NaN
4             BAR.NOED.2024.FE.ZS    Attainment  ...          NaN         NaN
...                           ...           ...  ...          ...         ...
3660    UIS.XUNIT.USCONST.3.FSGOV  Expenditures  ...          NaN         NaN
3661    UIS.XUNIT.USCONST.4.FSGOV  Expenditures  ...          NaN         NaN
3662   UIS.XUNIT.USCONST.56.FSGOV  Expenditures  ...          NaN         NaN
3663  XGDP.23.FSGOV.FDINSTADM.FFD  Expenditures  ...          NaN         NaN
3664  XGDP.56.FSGOV.FDINSTADM.FFD  Expenditures  ...          NaN         NaN

[3665 rows x 21 columns]>

In [34]:
df_StatsSeries.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

#getting StatsData for a period of 11 years in which we have minimum NAN values

In [35]:
df_StatsData.loc[:,['2005','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',]]

             2005       2006       2007  ...      2013           2014  2015
0             NaN        NaN        NaN  ...       NaN            NaN   NaN
1             NaN        NaN        NaN  ...       NaN            NaN   NaN
2             NaN        NaN        NaN  ...       NaN            NaN   NaN
3             NaN        NaN        NaN  ...       NaN            NaN   NaN
4       82.489487  82.685509  83.280342  ...  85.51194      85.320152   NaN
...           ...        ...        ...  ...       ...            ...   ...
886925        NaN        NaN        NaN  ...       NaN  199464.000000   NaN
886926        NaN        NaN        NaN  ...       NaN      90.428120   NaN
886927        NaN        NaN        NaN  ...       NaN      93.188350   NaN
886928        NaN        NaN        NaN  ...       NaN       1.063890   NaN
886929        NaN        NaN        NaN  ...       NaN      87.591860   NaN

[886930 rows x 11 columns]